<html lang="ja">
<head>
  <meta http-equiv="content-type" charset="utf-8">
  <title>5/3/1 Program Calclator</title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
<style type="text/css">
table {
  width: 100%;
  border-collapse: collapse;
}
thead th {
  border: 1px solid #0099e4; /*#d31c4a */
  color: #0099e4;
  text-align: center;
}
th,
th {
  border: 1px solid #ccc;
  background: #f8f8f8;
  padding: 0 8px;
  line-height: 40px;
  text-align: center;
}
tbody tr td {
  border: 1px solid #ccc;
  text-align: right;
}
</style>
</head>
<div id="app">
  <h2>5/3/1 Program Calculator</h2>
  <div v-for="(cycle, n) in cycles">
    <p>
      <b>Cycle: {{n + 1}}</b>
      max: <input size=8 v-model="cycle.max">
      tm: <input size=8 v-model="cycle.tm">
      <select v-model="cycle.version">
        <option>Original</option>
        <option>Shibuya Original</option>
        <option>Tocci Original</option>
        <option>Tocci Original Old</option>
        <option>10/5/1/15 Tocci Original</option>
      </select>
      <select v-model="cycle.round">
        <option>none</option>
        <option>2.5 round</option>
        <option>2.5 roundUp</option>
        <option>2.5 roundDown</option>
        <option>5 round</option>
        <option>5 roundUp</option>
        <option>5 roundDown</option>
      </select>
      <button @click="removeCycle(n)">Remove</button>
    </p>
    <div>
      <table class="cycle">
        <tr v-if="cycle.version == '10/5/1/15 Tocci Original'">
          <th rowspan="2"></th>
          <th colspan="3">Period 1 / 10-day</th>
          <th colspan="3">Period 2 / 5-day</th>
          <th colspan="3">Period 3 / 1-day</th>
          <th colspan="3">Period 4 / Deload</th>
        </tr>
        <tr v-else>
          <th rowspan="2"></th>
          <th colspan="3">Period 1 / 5-day</th>
          <th colspan="3">Period 2 / 3-day</th>
          <th colspan="3">Period 3 / 1-day</th>
          <th colspan="3">Period 4 / Deload</th>
        </tr>
        <tr>
          <th>%</th><th>weight</th><th>reps</th>
          <th>%</th><th>weight</th><th>reps</th>
          <th>%</th><th>weight</th><th>reps</th>
          <th>%</th><th>weight</th><th>reps</th>
        </tr>
        <tr v-if="cycle.version == '10/5/1/15 Tocci Original'">
          <td>Set 1</td>
          <td>55%</td><td>{{myRound(cycle.tm, 0.55, cycle.round)}}</td> <td>10</td>
          <td>65%</td><td>{{myRound(cycle.tm, 0.65, cycle.round)}}</td> <td>5</td>
          <td>75%</td><td>{{myRound(cycle.tm, 0.75, cycle.round)}}</td> <td>5</td>
          <td>50%</td><td>{{myRound(cycle.tm, 0.50, cycle.round)}}</td> <td>10</td>
        </tr>
        <tr v-else>
          <td>Set 1</td>
          <td>65%</td><td>{{myRound(cycle.tm, 0.65, cycle.round)}}</td> <td>5</td>
          <td>70%</td><td>{{myRound(cycle.tm, 0.70, cycle.round)}}</td> <td>3</td>
          <td>75%</td><td>{{myRound(cycle.tm, 0.75, cycle.round)}}</td> <td>5</td>
          <td>40%</td><td>{{myRound(cycle.tm, 0.40, cycle.round)}}</td> <td>5</td>
        </tr>
        <tr v-if="cycle.version == '10/5/1/15 Tocci Original'">
          <td>Set 2</td>
          <td>60%</td><td>{{myRound(cycle.tm, 0.60, cycle.round)}}</td> <td>10</td>
          <td>70%</td><td>{{myRound(cycle.tm, 0.70, cycle.round)}}</td> <td>5</td>
          <td>85%</td><td>{{myRound(cycle.tm, 0.85, cycle.round)}}</td> <td>3</td>
          <td>57%</td><td>{{myRound(cycle.tm, 0.57, cycle.round)}}</td> <td>15+</td>
        </tr>
        <tr v-else>
          <td>Set 2</td>
          <td>75%</td><td>{{myRound(cycle.tm, 0.80, cycle.round)}}</td> <td>5</td>
          <td>80%</td><td>{{myRound(cycle.tm, 0.80, cycle.round)}}</td> <td>3</td>
          <td>85%</td><td>{{myRound(cycle.tm, 0.85, cycle.round)}}</td> <td>3</td>
          <td>50%</td><td>{{myRound(cycle.tm, 0.50, cycle.round)}}</td> <td>5</td>
        </tr>
        <tr v-if="cycle.version == '10/5/1/15 Tocci Original'">
          <td>Set 3</td>
          <td>65%</td><td>{{myRound(cycle.tm, 0.65, cycle.round)}}</td> <td>10+</td>
          <td>79%</td><td>{{myRound(cycle.tm, 0.79, cycle.round)}}</td> <td>5+</td>
          <td>95%</td><td>{{myRound(cycle.tm, 0.95, cycle.round)}}</td> <td>1+</td>
          <td>50%</td><td>{{myRound(cycle.tm, 0.50, cycle.round)}}</td> <td>15+</td>
        </tr>
        <tr v-else-if="cycle.version == 'Tocci Original'">
          <td>Set 3</td>
          <td>79%</td><td>{{myRound(cycle.tm, 0.79, cycle.round)}}</td> <td>5+</td>
          <td>86%</td><td>{{myRound(cycle.tm, 0.86, cycle.round)}}</td> <td>3+</td>
          <td>95%</td><td>{{myRound(cycle.tm, 0.95, cycle.round)}}</td> <td>1+</td>
          <td>60%</td><td>{{myRound(cycle.tm, 0.60, cycle.round)}}</td> <td>5</td>
        </tr>
        <tr v-else>
          <td>Set 3</td>
          <td>85%</td><td>{{myRound(cycle.tm, 0.85, cycle.round)}}</td> <td>5+</td>
          <td>90%</td><td>{{myRound(cycle.tm, 0.90, cycle.round)}}</td> <td>3+</td>
          <td>95%</td><td>{{myRound(cycle.tm, 0.95, cycle.round)}}</td> <td>1+</td>
          <td>60%</td><td>{{myRound(cycle.tm, 0.60, cycle.round)}}</td> <td>5</td>
        </tr>
        <tr v-if="cycle.version == 'Shibuya Original'">
          <td>Set 4</td>
          <td>75%</td><td>{{myRound(cycle.tm, 0.75, cycle.round)}}</td> <td>5</td>
          <td>80%</td><td>{{myRound(cycle.tm, 0.80, cycle.round)}}</td> <td>3</td>
          <td>85%</td><td>{{myRound(cycle.tm, 0.85, cycle.round)}}</td> <td>3</td>
        </tr>
        <tr v-else-if="cycle.version == '10/5/1/15 Tocci Original'">
          <td>Set 4</td>
          <td>55%</td><td>{{myRound(cycle.tm, 0.55, cycle.round)}}</td> <td>10+</td>
          <td>60%</td><td>{{myRound(cycle.tm, 0.60, cycle.round)}}</td> <td>5+</td>
          <td>75%</td><td>{{myRound(cycle.tm, 0.75, cycle.round)}}</td> <td>5+</td>
        </tr>
        <tr v-else-if="cycle.version != 'Original'">
          <td>Set 4</td>
          <td>65%</td><td>{{myRound(cycle.tm, 0.65, cycle.round)}}</td> <td>5+</td>
          <td>70%</td><td>{{myRound(cycle.tm, 0.70, cycle.round)}}</td> <td>3+</td>
          <td>75%</td><td>{{myRound(cycle.tm, 0.75, cycle.round)}}</td> <td>5+</td>
        </tr>
        <tr v-if="cycle.version == 'Shibuya Original'">
          <td>Set 5</td>
          <td>65%</td><td>{{myRound(cycle.tm, 0.65, cycle.round)}}</td> <td>5+</td>
          <td>70%</td><td>{{myRound(cycle.tm, 0.70, cycle.round)}}</td> <td>3+</td>
          <td>75%</td><td>{{myRound(cycle.tm, 0.75, cycle.round)}}</td> <td>5+</td>
        </tr>
        <tr v-else-if="cycle.version == '10/5/1/15 Tocci Original'">
          <td>Set 5</td>
          <td>50%</td><td>{{myRound(cycle.tm, 0.50, cycle.round)}}</td> <td>10+</td>
          <td>55%</td><td>{{myRound(cycle.tm, 0.55, cycle.round)}}</td> <td>10+</td>
          <td>55%</td><td>{{myRound(cycle.tm, 0.55, cycle.round)}}</td> <td>10+</td>
        </tr>
        <tr v-else-if="cycle.version != 'Original'">
          <td>Set 5</td>
          <td>55%</td><td>{{myRound(cycle.tm, 0.55, cycle.round)}}</td> <td>10+</td>
          <td>55%</td><td>{{myRound(cycle.tm, 0.55, cycle.round)}}</td> <td>10+</td>
          <td>55%</td><td>{{myRound(cycle.tm, 0.55, cycle.round)}}</td> <td>10+</td>
        </tr>
      </table>
    </div>
  </div>

  <p>
    max: <input size=8 v-model="newMax">
    <select v-model="newVersion">
      <option>Original</option>
      <option>Shibuya Original</option>
      <option>Tocci Original</option>
      <option>Tocci Original Old</option>
      <option>10/5/1/15 Tocci Original</option>
    </select>
    <select v-model="newRound">
      <option>none</option>
      <option>2.5 round</option>
      <option>2.5 roundUp</option>
      <option>2.5 roundDown</option>
      <option>5 round</option>
      <option>5 roundUp</option>
      <option>5 roundDown</option>
    </select>
    <button @click="addCycle">Add Cycle</button>
  </p>
  <p>
    <button @click="save">Save To Brouser</button>
    <button @click="clear">Clear Brouser Data</button>
  </p>
</div>
<script>
const app = new Vue({
  el: '#app',
  data: {
    cycles: [
      {
        max: 80,
        tm: 72,
        round: "2.5 round",
        version: "Tocci Original"
      }
    ],
    newMax: 80,
    newRound: "2.5 round",
    newVersion: "10/5/1/15 Tocci Original"
  },
  mounted() {
    if (localStorage.getItem('cycles')) {
      try {
        this.cycles = JSON.parse(localStorage.getItem('cycles'));
      } catch(e) {
        localStorage.removeItem('cycles');
      }
    }
  },
  methods: {
    addCycle() {
      // 実際に何かしたことを入力する
      if (!this.newMax) {
        return;
      }

      this.cycles.push({max: this.newMax, tm: this.newMax * 0.9, round: this.newRound, version: this.newVersion});
      this.save();
    },
    removeCycle(x) {
      this.cycles.splice(x, 1);
      this.save();
    },
    save() {
      const parsed = JSON.stringify(this.cycles);
      localStorage.setItem('cycles', parsed);
    },
    clear() {
      localStorage.removeItem('cycles');
    },
    myRound(tm, k, round) {
      if (round == "2.5 round") {
        return Math.round(tm * k / 2.5) * 2.5;
      } else if (round == "2.5 roundUp") {
        return Math.ceil(tm * k / 2.5) * 2.5;
      } else if (round == "2.5 roundDown") {
        return Math.floor(tm * k / 2.5) * 2.5;
      } else if (round == "5 round") {
        return Math.round(tm * k / 5) * 5;
      } else if (round == "5 roundUp") {
        return Math.ceil(tm * k / 5) * 5;
      } else if (round == "5 roundDown") {
        return Math.floor(tm * k / 5) * 5;
      } else {
        return Math.round(tm * k * 100) / 100;
      }
    }
  }
})
</script>
</html>
